
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/engsci211_ode_notebooks.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/libraries/R_User_Library.xml
.ipynb_checkpoints/engsci211_ode3_improvedeuler-checkpoint.ipynb
